.addPostContainer {
    width: 50vw;
    height: 84vh;
    margin: 0 25vw 0 25vw;
    overflow: hidden;
}

.addOption {
    width: 50vw;
    height: 2vh;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    margin: 0 25vw 1vw 25vw;
    border-radius: 5vh;
}

.addOption a {
    height: 100%;
    color: #000;
    padding: 1vw;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uploadButton::before, #takeButton::before {
    position: absolute;
    top: 70%;
    width: 0;
    height: 2vw;
    background: transparent;
    content: "";
    opacity: 1;
    transition: all 0.3s;
    border-bottom: 0.15vw solid #0077CA;
    transform: translateX(-50%) translateY(-70%);
}

#uploadButton::before {
    left: 100%;
}

#takeButton::before {
    left: -1%;
}

#uploadButton.active::before, #takeButton.active::before {
    width: 100%;
    left: 50%
}

.uploadContainer, .photoContainer {
    width: 50vw;
    height: 84vh;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 2vw;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 5vh;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.uploadContainer {
    left: -50vw;    
}

.uploadContainer:target {
    opacity: 1;
    left: 25vw;    
}

.photoContainer {
    left: 150vw;
}

.photoContainer:target {
    opacity: 1;
    left: 25vw;
}

.uploadContainer form {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadContainer form input, .photoContainer input {
    margin-bottom: 1vw;
}

.uploadContainer form .uploadImage {
    display: none;
}

.uploadContainer form .uploadImage + label, .photoContainer button {
    width: 10vw;
    color: #FFF;
    padding: 0.5vw;
    margin-bottom: 1vw;
    background-color: #0077CA;
    font: 0.9rem Raleway;
    text-align: center;
    border-radius: 5vh;
    border: none;
    outline: none;
}

.uploadContainer form .uploadImage:focus + label,
.uploadContainer form .uploadImage + label:hover,
.uploadContainer form .submit:hover,
.photoContainer .cameraSubmit:hover,
.photoContainer .cameraButton:hover {
    background-color: #003C71;
    cursor: pointer;
}

.uploadContainer form .preview {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    border: 2px solid #D3D3D3;
    border-radius: 5vh;
    margin-bottom: 1vw;
}

.uploadContainer form .preview .imageContainer {
    overflow: hidden;
}

.uploadContainer form .preview img {
    max-width: 42vw;
    height: auto;
}

.uploadContainer form .preview .imageContainer img[alt] {
    margin-left: -16px;
    text-indent: 16px;
}

.uploadContainer .caption, .photoContainer .caption {
    width: 25vw;
    height: 5vh;
    font-family: Raleway;
    padding: 0.5vw;
    padding-left: 5vh;
    border: none;
    border-radius: 5vh;
    background-color: #D3D3D3;
    outline: none;
}

.uploadContainer form .submit, .photoContainer .cameraSubmit {
    width: 25vw;
    height: 5vh;
    border: none;
    outline: none;
    margin: 0;
    padding: 0.5vw;
    border-radius: 5vh;
    font-size: 0.9rem;
    color: #FFF;
    background-color: #0077CA;
}

.streamContainer {
    width: 100%;
    height: 100%;
    margin-bottom: 1vw;
    border: 2px solid #D3D3D3;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
}

.buttonContainer button {
    color: #FFF;
    font-family: Raleway;
    background-color: #0077CA;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border: none;
    border-radius: 5vh;
}

.buttonContainer button:hover {
    background-color: #003C71;
    cursor: pointer;
}

#stream, #capture, #snapshot img {
    width: 42vw;
    height: auto;
}

#capture {
    display: none;
}