<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CSCI2020</title>
        <link rel = "stylesheet" href = "/static/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>        
        <div class = "header" id = "header">
            <input class = "searchBar" type="text" placeholder="Search">
            <a href = "/login">HOME</a>
            <a href = "/viewProfile">VIEW PROFILE</a>
            <a href = "/addPost">ADD POST</a>  
            
            <a href = "/logout">LOGOUT</a>
        </div>

        <form method=post enctype=multipart/form-data>
            <input name = "image" type=file name=file>
            <input name = "caption" type = "text">
            <input type=submit value=Upload>
        </form>
    </body>
</html>